/**
 * Base
 *
 */
body {
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

/**
 * components/CalendarNav
 *
 */
.calendar__nav {
	display: flex;
	padding: 0rem 0rem;
	justify-content: space-between;
	align-items: baseline;
}

.calendar__nav h2 {
	font-size: 2rem;
	width: 50%;
	text-align: left;
}
.calendar__nav button {
	width: 30px;
	height: 30px;
	padding: 0;
	cursor: pointer;
	text-align: center;
}

/**
 * components/CalendarHeader
 *
 */
.calendar__header {
	display: flex;
	color: #505f72;
	font-size: x-large;
}

.calendar__header div {
	flex: 1;
}

/**
 * Week
 *
 */
.week {
	display: flex;
}

/**
 * Days of the week
 *
 */
.week__day {
	position: relative;
	padding: 1rem;
	flex: 1;
	min-height: 90px;
}

.week__day {
	border: 0.5px solid #505f72;
	font-weight: bold;
	cursor: pointer;
}

.week__day--today {
	color: #1e90ff;
	background-color: #fffacd;
}

.week__day--weekend {
	color: #3e3e3e;
	background-color: #f3f3f3;
	border: 0.5px solid #ec7063;
}

.week__day--past {
	cursor: not-allowed;
	color: #17202a87;
	background-color: #e5e8e8;
	border: 0.5px solid #505f72;
}

.week__day--selected {
	cursor: pointer;
}

/**
 * Reminders
 *
 */
.reminder__label {
	width: 100%;
	padding: 3px;

	background-color: #efefef;
}

.reminder__label.reminder__label--work {
	background-color: #faebd7;
}

.reminder__label.reminder__label--casual {
	background-color: #e9967a;
}

.reminder__label.reminder__label--calendar {
	background-color: #a9a9a9;
}
